.barra {
   background-color: darkcyan;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
    background-color: yellow;
    margin: 20px;
}

.categories ul {
    justify-content: center;
    align-items: center;
}

.categories li{
    display:inline;
    padding: 7px;
}

.categories a{
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight:600;
    align-items: center;
}

.cart {
    display: inline-flex;
}

.cart div {
    margin-right: 5px;
}